.navbar {
    background-color: midnightblue;
}

ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
}

li {
    padding: 1em 0;
}

/* TODO: check this, shouldn't be necessary to know there is "a" behind "Link" component */
li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em;
}

li:hover {
    background-color: darkslategray;
}